---
import type { Service } from "@/models/service.model";
import { ReactSVG } from "react-svg";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export interface Props {
  serviceList: Service[];
}

const { serviceList } = Astro.props;
---

<>
  {
    serviceList.map((service) => (
      <div class="w-[46%] md:w-1/4 p-2.5 md:p-5 border-gray-200 border rounded-xl shadow-xl ease-in duration-150 transition hover:shadow-2xl bg-white flex flex-col items-center h-auto text-center">
        {/* <img src={`/assets/icons/${service.Icon}.svg`} class="w-16 h-auto mx-auto fill-current text-blue-500 pb-4" /> */}
        <ReactSVG
          client:idle
          src={`/assets/images/icons/${service.icon}.svg`}
          className="w-16 h-auto mx-auto fill-current text-blue-600 pb-4"
        />
        <h3 class="text-base md:text-lg font-bold">
          {t(service.title as any)}
        </h3>
        <div class="pb-1 md:pb-2 border-b0 mb-8 w-full" />
        <p class="text-xs md:text-base">
          {t(service.description as any)}
        </p>
      </div>
    ))
  }
</>
