---
import ContactBtn from "@/components/ContactBtn.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="about">
  <h2 class="text-3xl font-black md:text-5xl mb-10 text-center">{t("about.title")}</h2>
  <div class="rounded-xl p-6 md:p-10 bg-white dark:bg-slate-800 shadow-md">
    <header class="flex flex-col md:flex-row items-start gap-10 mb-12">
      <div class="w-full md:w-1/2">
        <h3 class="text-5xl leading-[4rem] font-semibold">
          {
            (t("about.subtitle") as unknown as any[]).map((word) => {
              return word.class ? (
                <span class={word.class}>{word.text}</span>
              ) : (
                word.text
              );
            })
          }.
        </h3>
      </div>
      <div class="w-full md:w-1/2">
        <p class="whitespace-pre-line text-justify md:text-start">{t("about.description")}</p>
      </div>
    </header>
    <footer class="flex flex-col md:flex-row items-center gap-4 border-t dark:border-gray-500 pt-6">
      <p class="font-light text-lg md:text-xl w-full md:w-3/4 text-center md:text-justify">{t("about.footer")}</p>
      <ContactBtn className="!text-2xl" />
    </footer>
  </div>
</section>
