---
import ContactForm from '@/components/ContactForm.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section id="contact-me" class='app-container min-h-[75vh] h-full flex items-center justify-center my-10'>
    <div class='space-y-6 w-full md:max-w-2xl text-center'>
      <div class='rounded-3xl border border-gray-200 p-5 md:p-10 bg-white w-full shadow-lg space-y-6'>
        <h2 class='text-6xl text-black font-bold'>{t('contact.title')}</h2>
        <p>{t('contact.description')}</p>
        <ContactForm />
      </div>
    </div>
  </section>