---
import Projects from '@/assets/projects.json'
import BentoList from '@/components/Bento/BentoList.astro';
import SectionTitle from '@/components/SectionTitle.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import type { Project } from '@/models/projects';
import { sortByDate } from '@/utils/date';

const projects: Project[] = Projects;

sortByDate(projects)

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="projects" class="pt-16 lg:pt-0 pb-16 lg:pb-32 text-center">
    <SectionTitle title={t('customers.title')} subTitle={t('customers.subTitle')} description={t('customers.description')} />
    <BentoList projects={projects} />
</section>