---
import Projects from '@/assets/projects.json'
import ProjectDetail from '@/components/ProjectDetail.astro';
import { Project } from '@/models/projects';
import { sortByDate } from '@/utils/date';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects: Project[] = Projects;

sortByDate(projects)
---

<section id="projects" class="pt-16 lg:pt-0 pb-16 lg:pb-32">
    <h2 class="text-3xl font-black md:text-5xl mb-10 text-center">{t('clients.title')}</h2>
    <div class="flex flex-col gap-4 md:gap-8">
    {
         projects.map((project, index) => (
            <ProjectDetail project={project} index={index} />
        ))
    }
    </div>
</section>